* {
  margin: 0;
  padding: 0;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}
/*modification général de la page*/
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  padding: 0;
}

/* pour les élement avec 1 ligne evite les repetitions*/
.display-flex {
  display: flex;
}
.padding-2em {
  padding: 2em;
}

/* Modification des titres H1,H2,H3...*/
h1 {
  font-size: 35px;
  color: white;
}

/* Modification du header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 35px 5px 25px;
}
.img-logo-header {
  width: 20%;
}
.img-section-one:hover {
  transform: scale(1.3);
  transition: transform 450ms ease-in-out;
}
.respiration-nav {
  padding-left: 2em;
  padding-right: 1em;
}
.effect-hover {
  --b: 0.3em; /* the thickness of the line */
  --c: #d8d81f; /* the color */

  color: #0000;
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.effect-hover:hover {
  --_p: 100%;
  --_s: 0.3s;
}
.toggle {
  display: none;
}

/* Modification de la premiére section */
section.section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 3em;
}
img.img-section-one {
  width: 15%;
}
.text-banniere {
  color: white;
  margin: 20px 0px 10px 0px;
}
.block-btn {
  margin-top: 5em;
  display: flex;
}
.mise-en-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-contacter-moi {
  color: #d8d81f;
  border: 1px solid #d8d81f;
  padding: 13px;
  border-radius: 15px;
}
.btn-cv-download {
  border: 1px solid;
  padding: 13px;
  border-radius: 15px;
  background-color: #d8d81f;
  margin-left: 5em;
}
a.btn-contacter-moi:hover {
  opacity: 0.7;
}
a.btn-cv-download:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

@media screen and (max-width: 950px) {
  .open .mobil-color {
    color: #fff;
  }
  /* effet pour le menu burger */
  .block-nav {
    display: none;
  }
  .open .block-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
  }
  .toggle {
    display: block;
  }
  .open .toggle {
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer;
    color: #d8d81f;
  }
  .icone-burger {
    display: flex;
    font-size: 28px !important;
  }
  .open .icone-burger {
    display: none;
  }
  .icone-close {
    display: none !important;
    font-size: 28px !important;
  }
  .open .icone-close {
    display: block !important;
  }
  .open .img-logo-header {
    z-index: 99;
  }
  /* mise en page de la navigation */
  .open .mobil-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .open .list-header {
    color: white;
  }
  .effect-hover {
    margin: 1pc;
  }
}

@media screen and (max-width: 730px) {
  .section-one {
    padding: 2em;
  }
  h1 {
    font-size: 25px;
  }
  .bloc-banniere-header {
    font-size: 13px;
  }
}

@media screen and (max-width: 650px) {
  /* Adaptation du header pour mobil */
  h1 {
    font-size: 25px;
    text-align: center;
  }
  .mise-en-place {
    flex-direction: column;
  }
  img.img-section-one {
    width: 20%;
    margin-top: 5em;
}
}
